/* color variables */

:root {
    --foot-bg: rgba(34, 34, 34, 1);
    --head-main-bg: rgba(0, 0, 0, 1);
    --green: rgba(75, 199, 0, 1);
    --grey: rgba(170, 170, 174, 1);
    --red: rgba(175, 53, 65, 1);
    --white: rgb(255, 255, 255);
    --light-gray: rgba(211, 211, 211, 0.3);
}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

body {
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.flexbox {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    justify-content: flex-end;
}

img {
    width: 100%;
}

/* HEADER */

header {
    height: 5rem;
    background-color: var(--head-main-bg);
}

/* MAIN */

main {
    height: calc(100vh - 10rem);
    background-color: var(--head-main-bg);
    border: 1px solid var(--head-main-bg);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.card {
    width: calc((100% - 6px) / 7);
    position: relative;
}

main i {
    font-size: 14px;
}

/* FOOTER */

footer {
    height: 5rem;
    background-color: var(--foot-bg);
    color: var(--white);
    font-size: 14px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left {
    height: 100%;
    text-align: center;
}

.footer-center {
    height: 100%;
    text-align: center;
}

.footer-right {
    background-color: var(--grey);
    height: 100%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.red {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    padding: 0 1.5rem;
}


i {
    color: var(--white);
    font-size: 25px;
}

li {
    list-style: none;
    padding: 0 7px;
}

.green-item {
    color: var(--green);
}

/* POSITION ABSOLUTE CLASSES */

.absolute {
    position: absolute;
}

.top-absolute {
    right: 0;
    top: 0.2rem;
}

.user-absolute {
    left: 0;
    bottom: 0;
    color: var(--head-main-bg);
}

.view {
    color: var(--white);
    background-color: var(--grey);
    padding: 0.2rem 0.2rem;
    border-radius: 0.6rem;
}

.view i {
    font-size: 0.6rem;
    font-weight: bold;

}